pipeline/pip_FILECOUNT_EQUALS10_1.json
{
	"name": "pip_FILECOUNT_EQUALS10_1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"description": "Get count of files from source folder. If count is equals to 10, Process else Don't process anything. \n\nGetmetadata.count -> If activity (equals to 10) -> For Each Loop (New Execute Pipeline).\n",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLS_PARAM",
						"type": "DatasetReference",
						"parameters": {
							"CONTAINER": "data",
							"DIRECTORY": "SOURCE",
							"FILENAME": {
								"value": " ",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('v_count'),10)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_count",
					"value": {
						"value": "@length(activity('Get Metadata1').output.childItems)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v_count": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "ADF_TRAINING_NEW/ASSIGNMENTS"
		},
		"annotations": []
	}
}