pipeline/pip_data.json
{
	"name": "pip_data",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "empid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "empid",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sourcedataset",
						"type": "DatasetReference",
						"parameters": {
							"SRCPARAMDATA": {
								"value": "@pipeline().parameters.src_param",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "sinkdataset",
						"type": "DatasetReference",
						"parameters": {
							"PARAMDATASET": {
								"value": "@concat(pipeline().parameters.tgt_param,utcNOw())",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VARTARGET",
					"value": {
						"value": "@concat(variables('finalfilename'),utcNow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"parameters": {
			"tgt_param": {
				"type": "string"
			},
			"src_param": {
				"type": "string"
			}
		},
		"variables": {
			"VARTARGET": {
				"type": "String",
				"defaultValue": "tgt_empetvar"
			},
			"finalfilename": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-10-02T07:59:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}