pipeline/pip_reading_paramfile.json
{
	"name": "pip_reading_paramfile",
	"properties": {
		"activities": [
			{
				"name": "read_param_file",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ADLS_PARAM",
						"type": "DatasetReference",
						"parameters": {
							"CONTAINER": "adftraining",
							"DIRECTORY": "parameter",
							"FILENAME": "param_file.csv"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "read_param_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_dept_id1",
					"value": {
						"value": "@activity('read_param_file').output.firstRow",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableStaging": false
				}
			}
		],
		"variables": {
			"v_dept_id": {
				"type": "String"
			},
			"v_dept_id1": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "ADF_TRAINING_NEW"
		},
		"annotations": []
	}
}