pipeline/pip_incremental_load.json
{
	"name": "pip_incremental_load",
	"properties": {
		"activities": [
			{
				"name": "FETCH METADATA CONTROL_TABLE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM MD.CONTROL_TABLE WHERE IS_ACTIVE_IND = 'Y' and SOURCE_SYSTEM = @{pipeline().parameters.p_source_system} and load_type = @{pipeline().parameters.p_load_type}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ADF_TRAIN_SQLDB",
						"type": "DatasetReference",
						"parameters": {
							"TARGET_SCHEMA": "MD",
							"TARGET_TABLE": "CONTROL_TABLE"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Traverse_control_values",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FETCH METADATA CONTROL_TABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FETCH METADATA CONTROL_TABLE').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ADLS_to_target",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "source to adls",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "truncate table @{item().TARGET_SCHEMA}.@{item().TARGET_TABLE}",
										"type": "Expression"
									},
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": {
											"value": "@json(concat('[\"',item().update_column,'\"]'))",
											"type": "Expression"
										}
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADLS_PARAM",
									"type": "DatasetReference",
									"parameters": {
										"CONTAINER": {
											"value": "@pipeline().parameters.p_container",
											"type": "Expression"
										},
										"DIRECTORY": {
											"value": "@pipeline().parameters.p_directory",
											"type": "Expression"
										},
										"FILENAME": {
											"value": "@concat(item().SOURCE_TABLE,'.csv')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADF_TRAIN_SQLDB",
									"type": "DatasetReference",
									"parameters": {
										"TARGET_SCHEMA": {
											"value": "@{item().TARGET_SCHEMA}",
											"type": "Expression"
										},
										"TARGET_TABLE": {
											"value": "@{item().TARGET_TABLE}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "source to adls",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().SOURCE_SCHEMA}.@{item().SOURCE_TABLE} where claim_date > '@{item().LAST_MODIFIED_DATE}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADF_TRAIN_SQLDB",
									"type": "DatasetReference",
									"parameters": {
										"TARGET_SCHEMA": {
											"value": "@{item().SOURCE_SCHEMA}",
											"type": "Expression"
										},
										"TARGET_TABLE": {
											"value": "@{item().SOURCE_TABLE}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_PARAM",
									"type": "DatasetReference",
									"parameters": {
										"CONTAINER": {
											"value": "@pipeline().parameters.p_container",
											"type": "Expression"
										},
										"DIRECTORY": {
											"value": "@pipeline().parameters.p_directory",
											"type": "Expression"
										},
										"FILENAME": {
											"value": "@concat(item().SOURCE_TABLE,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "ADLS_STAGE_to_ ARCHIEVE",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ADLS_to_target",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADLS_PARAM",
									"type": "DatasetReference",
									"parameters": {
										"CONTAINER": {
											"value": "@pipeline().parameters.p_container",
											"type": "Expression"
										},
										"DIRECTORY": {
											"value": "@pipeline().parameters.p_directory",
											"type": "Expression"
										},
										"FILENAME": {
											"value": "@concat(item().SOURCE_TABLE,'.csv')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADF_TRAIN_ARCHIEVE",
									"type": "DatasetReference",
									"parameters": {
										"CONTAINER": {
											"value": "@pipeline().parameters.p_container",
											"type": "Expression"
										},
										"ARCHIEVE_DIRECTORY": {
											"value": "@pipeline().parameters.p_archive_directory",
											"type": "Expression"
										},
										"FILE_NAME": {
											"value": "@concat(item().SOURCE_TABLE,'_',utcNow(),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete_30days_file",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "ADLS_STAGE_to_ ARCHIEVE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ADLS_PARAM",
									"type": "DatasetReference",
									"parameters": {
										"CONTAINER": {
											"value": "@pipeline().parameters.p_container",
											"type": "Expression"
										},
										"DIRECTORY": {
											"value": "@pipeline().parameters.p_directory",
											"type": "Expression"
										},
										"FILENAME": {
											"value": " ",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": "2025-05-07T00:00:00.000Z",
									"modifiedDatetimeEnd": "2025-05-08T10:30:00.000Z",
									"wildcardFileName": "*.csv.gz",
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "update lastmodified date",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Delete_30days_file",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "update MD.CONTROL_TABLE set LAST_MODIFIED_DATE = getdate() where source_schema = '@{item().SOURCE_SCHEMA}' and source_table = '@{item().SOURCE_TABLE}'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_source_system": {
				"type": "string",
				"defaultValue": "'SQL_SERVER'"
			},
			"p_container": {
				"type": "string",
				"defaultValue": "adftraining"
			},
			"p_directory": {
				"type": "string",
				"defaultValue": "STAGE"
			},
			"p_archive_directory": {
				"type": "string",
				"defaultValue": "archive"
			},
			"p_load_type": {
				"type": "string",
				"defaultValue": "'INCRE'"
			}
		},
		"folder": {
			"name": "ADF_TRAINING_NEW"
		},
		"annotations": []
	}
}