pipeline/pip_ARRAY_new.json
{
	"name": "pip_ARRAY",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ARRAYVAR2",
					"value": {
						"value": "@variables('ARRAYVAR')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ARRAYVAR",
					"value": {
						"value": "@int(5)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ARRAYVAR2",
					"value": {
						"value": "@variables('ARRAYVAR')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1_copy1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ARRAYVAR2",
					"value": {
						"value": "@variables('ARRAYVAR')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ARRAYVAR": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4
				]
			},
			"ARRAYVAR2": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-10-19T02:56:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}