pipeline/pip_FILTER_activity.json
{
	"name": "pip_FILTER_activity",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().IS_ACTIVE_IND ,'Y')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ADF_TRAIN_SQLDB",
						"type": "DatasetReference",
						"parameters": {
							"TARGET_SCHEMA": "MD",
							"TARGET_TABLE": "control_table"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "ADF_TRAINING_NEW"
		},
		"annotations": []
	}
}