pipeline/pip_UNTIL.json
{
	"name": "pip_UNTIL",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(int(variables('VAR')), 3)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TEMP",
								"value": {
									"value": "@variables('VAR')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "VAR",
								"value": {
									"value": "@string(add(int(variables('TEMP')),1))",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"VAR": {
				"type": "String",
				"defaultValue": "1"
			},
			"TEMP": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-10-26T02:32:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}