pipeline/pip_prac_array.json
{
	"name": "pip_prac_array",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var2",
					"value": {
						"value": "@variables('var1')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var2",
					"value": {
						"value": "@variables('var1')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var1",
					"value": {
						"value": "@int(5)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"var1": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4
				]
			},
			"var2": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "PARAMPATH"
		},
		"annotations": [],
		"lastPublishTime": "2024-10-19T02:56:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}