pipeline/pip_ARCHIVE_FILE_AFTER_COPY.json
{
	"name": "pip_ARCHIVE_FILE_AFTER_COPY",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ARCHIEVE",
						"type": "DatasetReference",
						"parameters": {
							"FILENAME": {
								"value": "@variables('FILENAME')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ARCHIEVE_DATA",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@variables('TABLENAME')",
								"type": "Expression"
							},
							"SCHEMA_NAME": {
								"value": "@variables('SCHEMA_NAME')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ARCHIEVE",
						"type": "DatasetReference",
						"parameters": {
							"FILENAME": {
								"value": "@variables('FILENAME')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "TESTINGFILE",
						"type": "DatasetReference",
						"parameters": {
							"TESTFILE": {
								"value": "@variables('FILENAME')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DELETEFILE",
						"type": "DatasetReference",
						"parameters": {
							"DELETEFILE": {
								"value": "@variables('FILENAME')",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"variables": {
			"FILENAME": {
				"type": "String",
				"defaultValue": "NAME_CONCAT.txt"
			},
			"SCHEMA_NAME": {
				"type": "String",
				"defaultValue": "HR"
			},
			"TABLENAME": {
				"type": "String",
				"defaultValue": "DNORM1"
			},
			"TETSFILE": {
				"type": "String"
			},
			"DELETEFILE": {
				"type": "String"
			}
		},
		"folder": {
			"name": "LEARN"
		},
		"annotations": []
	}
}