pipeline/pip_CONTROL_TABLE_MULTITABLE_LOAD.json
{
	"name": "pip_CONTROL_TABLE_MULTITABLE_LOAD",
	"properties": {
		"activities": [
			{
				"name": "FETCH METADATA CONTROL_TABLE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM MD.CONTROL_TABLE WHERE IS_ACTIVE_IND = 'Y' and SOURCE_SYSTEM = @{pipeline().parameters.p_source_system}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ADF_TRAIN_SQLDB",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "MD",
							"table_name": "CONTROL_TABLE"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Traverse_control_values",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FETCH METADATA CONTROL_TABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FETCH METADATA CONTROL_TABLE').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ADLS_to_target",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "source to adls",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADLS_PARAM",
									"type": "DatasetReference",
									"parameters": {
										"CONTAINER": {
											"value": "@pipeline().parameters.p_container",
											"type": "Expression"
										},
										"DIRECTORY": {
											"value": "@pipeline().parameters.p_directory",
											"type": "Expression"
										},
										"FILENAME": {
											"value": "@concat(item().SOURCE_TABLE,'.csv')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_PARAM",
									"type": "DatasetReference",
									"parameters": {
										"CONTAINER": {
											"value": "@pipeline().parameters.p_container",
											"type": "Expression"
										},
										"DIRECTORY": {
											"value": "@pipeline().parameters.p_directory",
											"type": "Expression"
										},
										"FILENAME": {
											"value": "@concat(item().SOURCE_TABLE,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "source to adls",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADF_TRAIN_SQLDB",
									"type": "DatasetReference",
									"parameters": {
										"SCHEMA": "dbo",
										"table_name": {
											"value": "@item().SOURCE_TABLE",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_PARAM",
									"type": "DatasetReference",
									"parameters": {
										"CONTAINER": {
											"value": "@pipeline().parameters.p_container",
											"type": "Expression"
										},
										"DIRECTORY": {
											"value": "@pipeline().parameters.p_directory",
											"type": "Expression"
										},
										"FILENAME": {
											"value": "@concat(item().SOURCE_TABLE,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ADLS_to_target",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADLS_PARAM",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_PARAM",
									"type": "DatasetReference",
									"parameters": {
										"CONTAINER": {
											"value": "@pipeline().parameters.p_container",
											"type": "Expression"
										},
										"DIRECTORY": {
											"value": "@pipeline().parameters.p_archive_directory",
											"type": "Expression"
										},
										"FILENAME": {
											"value": "@concat(item().SOURCE_TABLE,'-',utcNow(),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"p_source_system": {
				"type": "string",
				"defaultValue": "'SQL_SERVER'"
			},
			"p_container": {
				"type": "string",
				"defaultValue": "adftraining"
			},
			"p_directory": {
				"type": "string",
				"defaultValue": "STAGE"
			},
			"p_archive_directory": {
				"type": "string",
				"defaultValue": "archive"
			}
		},
		"folder": {
			"name": "ADF_TRAINING_NEW"
		},
		"annotations": []
	}
}