pipeline/pip_pathparam_copy_withvar.json
{
	"name": "pip_pathparam_copy_withvar",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SRCDATA",
						"type": "DatasetReference",
						"parameters": {
							"srcparamdata": {
								"value": "@variables('VARSRCFILE')",
								"type": "Expression"
							},
							"srcparampath": {
								"value": "@variables('VARSRCPATH')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "TGTDATA",
						"type": "DatasetReference",
						"parameters": {
							"TGTPARAM": {
								"value": "@variables('VARTGTFILE')",
								"type": "Expression"
							},
							"TGTPATH": {
								"value": "@variables('VARTGTPATH')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VARSRCFILE",
					"value": {
						"value": "@pipeline().parameters.TGTPATH",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SRCFILENAME": {
				"type": "string"
			},
			"SRCPATH": {
				"type": "string"
			},
			"TGTFILENAME": {
				"type": "string"
			},
			"TGTPATH": {
				"type": "string"
			}
		},
		"variables": {
			"VARSRCFILE": {
				"type": "String"
			},
			"VARSRCPATH": {
				"type": "String"
			},
			"VARTGTFILE": {
				"type": "String"
			},
			"VARTGTPATH": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PARAMPATH"
		},
		"annotations": [],
		"lastPublishTime": "2024-10-03T15:26:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}